<div id="content_main" style="height: 93vh; overflow-x: hidden;overflow-y: auto;">
  <% if @partial.blank?  %>
    <%= render '/main/summary' %>
  <% else %>
      <%= render @partial %>
  <% end %>
</div>
